
{# rekurzivní vykreslení celé navigace  #}
{# TODO: vyřešit routování a která položka je aktivní #}

{% macro vegan_menu(navigation, all) %}
    <ul>
        {% for nav in navigation %}
            <li>
                <a href="{{ vegan_url(nav.route_name) }}" {#% if nav.active %} class="{{ nav.active_class }}" {% endif %#}>{{ nav.name }}</a>
                {% if all|default(true) %}
                    {% if nav._children %}
                        {{ _self.vegan_menu(nav._children, all) }}
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}


{% macro menu_render(navigation, showAll) %}
    {% set array = (navigation.items.children is defined) ? navigation.items.children : navigation %}
    {% set all = (showAll is not same as(false)) ? true : false %}

    {% if array|length > 0 %}
    <ul class="test-menu">
        {% for nav in array %}
            <li class="{% if nav.special.class is defined %}{{ nav.special.class }} {% endif %}{% if nav.active %}active{% endif %}" >
                {#<a href="{{ vegan_url(nav.routeName) }}" &#123;&#35;% if nav.active %} class="{{ nav.active_class }}" {% endif %&#35;&#125;>{{ nav.name }}</a>#}
                <a href="{{ nav.uri }}" {#% if nav.active %} class="{{ nav.active_class }}" {% endif %#}>{{ nav.name }}</a>
                {% if all %}
                    {% if nav.children is defined %}
                        {{ _self.menu_render(nav.children, all) }}
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endmacro %}
