
{# Recursive macro to render Menu from VeganMenuBundle #}

{% macro vegan_menu_render(menu, displayChildren) %}

    {# THIS MACRO IS DEFAULT, YOU CAN BUILD YOUR OWN MACRO AND RENDER YOUR OWN MENU!  #}

    {% set menuItems = (menu.items.children is defined) ? menu.items.children : menu %}
    {% set displayChildren = (displayChildren is not same as(false)) ? true : false %}

    {% if menuItems|length > 0 %}
    <ul>
        {% for item in menuItems %}
            <li>
                <a href="{{ item.uri }}">{{ item.name }}</a>

                {% if displayChildren or item.has('display_children') and item.get('display_children') %} {# Do you want to display children of this menu item? #}

                    {% if item.children is defined %}

                        {{ _self.vegan_menu_render(item.children, displayChildren) }} {# NOW IS CALLED THE SAME MACRO [recursion] WITH PARAMETER `children` #}

                    {% endif %}

                {% endif %}

            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endmacro %}

{#

Special usage:

class="{% if item.attributes.class is defined %}{{ item.attributes.class }} {% endif %}{% if item.active %}active{% endif %}"

#}

{# Sample how you can write your own custom macro! #}
{% macro custom_menu_render(menu, displayChildren) %}
    {% set menuItems = (menu.items.children is defined) ? menu.items.children : menu %}{# don't change this .. #}
    {% set displayChildren = (displayChildren is not same as(false)) ? true : false %}{# and dont't change this .. #}

    {% if menuItems|length > 0 %}

        <ul class="my-menu-list">

            {% for item in menuItems %}

                <li class="my-item-class{% if item.active %} active{% endif %}">
                    <a href="{{ item.uri }}"{% if item.has('link_class') %} class="{{ item.get('link_class') }}"{% endif %}>
                        {% if item.has('icon') %}
                            <i class="{{ item.get('icon') }}"></i>
                        {% endif %}
                        {{ item.name }}
                    </a>
                    {% if displayChildren %}
                        {% if item.hasChildren %}
                            {% if item.has('display_children') %}
                                {% set displayChildren = item.get('display_children') %}
                            {% endif %}
                            {{ _self.custom_menu_render(item.children, displayChildren) }}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

